<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroBlog</title>
</head>
<body>
<form action="/message" method="post">
    <input type="text" placeholder="Enter message" name="text"/>
    <input type="text" placeholder="Enter name" name="author"/>
    <button type="submit">Submit Message</button>
</form>
Welcome! Enter a message.
<table>
    <tr>
        <th>Message</th>
        <th>Author</th>
        <th></th>
        <th></th>
    </tr>
    {{#messages}}
    <tr>
        <td>{{text}}</td>
        <td>{{author}}</td>
    </tr>
    {{/messages}}
</table>
</body>
</html>