<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroBlog</title>
</head>
Welcome! Enter a message.<br>
<body>
<form action="/message" method="post">
    <input type="text" placeholder="Enter message" name="text"/>
    <input type="text" placeholder="Enter name" name="author"/>
    <button type="submit">Submit Message</button>
</form>
<br>
<table>
    <tr>
        <th>Message</th>
        <th>Author</th>
        <th></th>
        <th></th>
    </tr>
    {{#messages}}
    <tr>
        <td>{{text}}</td>
        <td>{{author}}</td>
        <td>
            <form action="/delete-message" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="/edit-message" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                Text: <input type="text" value="" name="text"/>
                Author: <input type="text" value="" name="author"/>
                <button type="submit">Edit Message</button>
            </form>
        </td>
    </tr>
    {{/messages}}
</table>
</body>
</html>